@* Удалите этот раздел, если используется объединение *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Забыли свой пароль";

    bool passwordSent = false;
    var resetToken = "";
    var email = Request.Form["email"] ?? Request.QueryString["email"];

    // Настройка проверки
    Validation.RequireField("email", "Поле адреса электронной почты является обязательным.");

    if (IsPost) {
        AntiForgery.Validate();
        // проверить адрес электронной почты
        bool isValid = true;
        if (Validation.IsValid()) {
            if (WebSecurity.GetUserId(email) > -1 && WebSecurity.IsConfirmed(email)) {
                resetToken = WebSecurity.GeneratePasswordResetToken(email); // Укажите дату окончания срока действия маркера (необязательно)
            } else {
                passwordSent = true; // Мы не хотим раскрывать информацию о том, что такой пользователь не существует.
                isValid = false;
            }
        }
        if (isValid) {
            var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
            var resetUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Account/PasswordReset?resetToken=" + HttpUtility.UrlEncode(resetToken));
            WebMail.Send(
                to: email,
                subject: "Сбросьте свой пароль", 
                body: "Для сброса пароля используйте следующий маркер сброса пароля. Маркер: " + resetToken + @". Чтобы сбросить пароль, перейдите по адресу: <a href=""" + HttpUtility.HtmlAttributeEncode(resetUrl) + @""">" + resetUrl + "</a>."
            );
            passwordSent = true;
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Используйте форму ниже для сброса пароля.</h2>
</hgroup>

@if (!WebMail.SmtpServer.IsEmpty()) {
    <p>
        Мы отправим инструкции по сбросу пароля по адресу электронной почты, связанному с вашей учетной записью.
    </p>

    if (passwordSent) {
        <p class="message-success">
            Инструкции по сбросу пароля посланы по указанному адресу электронной почты.
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary(excludeFieldErrors: true)

        <fieldset>
            <legend>Форма с инструкциями по сбросу пароля</legend>
            <ol>
                <li class="email">
                    <label for="email" @if (!ModelState.IsValidField("email")) {<text>class="error-label"</text>}>Адрес электронной почты</label>
                    <input type="text" id="email" name="email" value="@email" disabled="@passwordSent" @Validation.For("email") />
                    @Html.ValidationMessage("email")
                </li>
            </ol>
            <p class="form-actions">
                <input type="submit" value="Отправить инструкции" disabled="@passwordSent" />
            </p>
        </fieldset>
    </form>
} else {
   <p class="message-info">
       Для этого веб-сайта восстановление пароля отменено, поскольку SMTP-сервер 
       не настроен должным образом. Чтобы сбросить пароль, обратитесь к владельцу 
       этого сайта.
   </p>
}