@* Удалите этот раздел, если используется объединение *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Сброс пароля";

    var passwordResetToken = Request.Form["resetToken"] ?? Request.QueryString["resetToken"];

    bool tokenExpired = false;
    bool isSuccess = false;

    // Настройка проверки
    Validation.RequireField("newPassword", "Поле нового пароля является обязательным.");
    Validation.Add("confirmPassword",
        Validator.EqualsTo("newPassword", "Новый пароль и его подтверждение не совпадают."));
    Validation.RequireField("passwordResetToken", "Поле маркера сброса пароля является обязательным.");
    Validation.Add("newPassword",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "Новый пароль должен содержать не менее 6 символов"));

    if (IsPost && Validation.IsValid()) {
        AntiForgery.Validate();
        var newPassword = Request["newPassword"];
        var confirmPassword = Request["confirmPassword"];

        if (WebSecurity.ResetPassword(passwordResetToken, newPassword)) {
            isSuccess = true;
        } else {
            ModelState.AddError("passwordResetToken", "Маркер сброса пароля является недопустимым.");
            tokenExpired = true;
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Используйте форму ниже для сброса пароля.</h2>
</hgroup>

@if (!WebMail.SmtpServer.IsEmpty()) {
    if (!Validation.IsValid()) {
        <p class="validation-summary-errors">
            @if (tokenExpired) {
                <text>Маркер сброса пароля неверный или, возможно, истек срок его действия. Перейдите на <a href="~/Account/ForgotPassword">страницу сброса пароля,</a> 
                чтобы создать новый маркер сброса пароля.</text>
            } else {
                <text>Не удается сбросить пароль. Исправьте ошибки и повторите попытку.</text>
            }
        </p>
    }

    if (isSuccess) {
        <p class="message-success">
            Пароль изменен! Щелкните <a href="~/Account/Login" title="Выполнить вход">здесь</a> для входа в систему.
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        <fieldset>
            <legend>Форма смены пароля</legend>
            <ol>
                <li class="new-password">
                    <label for="newPassword" @if (!ModelState.IsValidField("newPassword")) {<text>class="error-label"</text>}>Новый пароль</label> 
                    <input type="password" id="newPassword" name="newPassword" disabled="@isSuccess" @Validation.For("newPassword") />
                    @Html.ValidationMessage("newPassword")
                </li>
                <li class="confirm-password">
                    <label for="confirmPassword" @if (!ModelState.IsValidField("confirmPassword")) {<text>class="error-label"</text>}>Подтверждение пароля</label> 
                    <input type="password" id="confirmPassword" name="confirmPassword" disabled="@isSuccess" @Validation.For("confirmPassword") />
                    @Html.ValidationMessage("confirmPassword")
                </li>
                <li class="reset-token">
                    <label for="resetToken" @if (!ModelState.IsValidField("resetToken")) {<text>class="error-label"</text>}>Password reset token</label> 
                    <input type="text" id="resetToken" name="resetToken" value="@passwordResetToken" disabled="@isSuccess" @Validation.For("resetToken") />
                    @Html.ValidationMessage("resetToken")
                </li>
            </ol>
            <input type="submit" value="Сброс пароля" disabled="@isSuccess"/>
        </fieldset>
    </form>
} else {
    <p class="message-info">
        Для этого веб-сайта восстановление пароля отменено, поскольку SMTP-сервер 
        не настроен должным образом. Чтобы сбросить пароль, обратитесь к владельцу 
        этого сайта.
    </p>
}
